%header
  %nav
    .header-container.nav-wrapper
      %a.header-container__left.brand-logo{href: "/"} Chiha's Blog
      %ul.nav-mobile.header-container__right
        %li
          %ul.header-container__right__category.collapsible
            %li
              .collapsible-header 
                %p.header-container__right__category__menu
                  Categories
              .collapsible-body
                %ul
                  %li 
                    = link_to "All Categories", all_posts_path
                  %li
                    = link_to "Tech", tech_posts_path
                  %li 
                    = link_to  "Audio", audio_posts_path
                  %li 
                    = link_to "Fishing", fishing_posts_path
                  %li 
                    = link_to "Others", others_posts_path
