= render partial: 'image-wrapper'
.current-article
  .title-option Current Articles
  .articles-container.slick
    - @new_posts.each do |post|
      = link_to post_path(post) do
        .article-container
          .article-container__left
            .article-container__image 
              = image_tag post.thumb.thumb.to_s,class: "article-container__image--image"
          .article-container__right
            .article-container__title 
              = post.title.truncate(35)
            .article-container__info
              .article-container__date 
                = post.updated_at.strftime("%Y-%m-%d %H:%M")
              .article-container__category 
                = post.category
.top-posts 
  .title-option Application
  .products-container
    .carousel
      %a.carousel-item
        .top-products
          = image_tag "fr.png",class: "top-products__image"
          .top-products__title 
            「FishingRecords」
            %br
            釣り情報投稿、検索アプリ
      %a.carousel-item
        .top-products
          = image_tag "cs.png",class: "top-products__image"
          .top-products__title
            「ChatSpace」
            %br
            グループチャットアプリ
      %a.carousel-item
        .top-products
          = image_tag "mr.png",class: "top-products__image"
          .top-products__title
            「freemarket_sample_58a」
            %br
            フリマアプリのクローン
    .products-text
      %p.products-tect__body
        「FishingRecords」
        %br
        魚釣りの釣果・釣り場の投稿、検索、ユーザー登録ができる釣り情報共有サイト。
        %br 
        %br
        「ChatSpace」
        %br
        スクールのカリキュラム中で作成。チャットグループの作成・編集、ユーザー登録ができるグループチャットアプリ。
        %br
        %br
        「freemarket_sample_58a」
        %br
        スクールのカリキュラム中で作成。某フリマアプリのコピーサイト。