.admin-index
  .admin-index__posts
    -if @posts.present?
      - @posts.each_with_index do |post,i|
        .admin-index__post
          .admin-index__post__content
            .admin-index__post__left
              = image_tag post.thumb.thumb.to_s
            .admin-index__post__right
              .admin-index__post__right__title
                = post.title
              .admin-index__post__bottom 
                .admin-index__post__bottom__category
                  = "Category :  " + post.category
                .admin-index__post__botto__status
                  - if post.posted
                    = "ステータス:  " +  "投稿済み"
                  - else
                    = "ステータス:  " + "下書き"
                .admin-index__post__bottom__updated_at
                  = post.updated_at
            .admin-index__post__btn
              = link_to "編集",edit_admin_post_path(current_admin,post),class: ".admin-index__post__btn__edit"
            %button.modal-trigger{href: "#modal#{i + 1}"} 削除
            .modal{id: "modal#{i + 1}"}
              .modal-content
                .modal-post-title
                  = post.title
                .modal-question 削除しますか？
              .modal-footer
                = link_to "削除する",admin_post_path(current_admin,post),method: :delete,class: "modal-close btn-flat"