.category-container 
  .category__title.title-option
    = category_title
  .category-contents-wrapper
    - posts.each do |post|
      = link_to post_path(post) do
        .category-content
          .category-content__left
            .category-content__image 
              = image_tag post.thumb.thumb.to_s,class: "category-content__image--image"
          .category-content__right
            .category-content__title 
              = post.title
            .category-content__info
              .category-content__date 
                = post.updated_at.strftime("%Y/%m/%d")
              .category-content__category
                = post.category
    = paginate posts
