.category-container 
  .category__title.title-option
    = category_title
  .category-contents-wrapper
    = link_to "#" do
      .category-content
        .category-content__left
          .category-content__image 
            = image_tag "profile.jpg",class: "category-content__image--image"
        .category-content__right
          .category-content__title なんか適当に長めのタイトルを設定したいところ
          .category-content__info
            .category-content__date 2019/10/31
            .category-content__category tech
    = link_to "#" do
      .category-content
        .category-content__left
          .category-content__image 
            = image_tag "profile.jpg",class: "category-content__image--image"
        .category-content__right
          .category-content__title なんか適当に長めのタイトルを設定したいところ
          .category-content__info
            .category-content__date 2019/10/31
            .category-content__category tech
    = link_to "#" do
      .category-content
        .category-content__left
          .category-content__image 
            = image_tag "profile.jpg",class: "category-content__image--image"
        .category-content__right
          .category-content__title なんか適当に長めのタイトルを設定したいところ
          .category-content__info
            .category-content__date 2019/10/31
            .category-content__category tech
