.new-post-container
  = form_with model: @post,url: admin_post_path(current_admin,@post),method: :patch,local: "true" do |f|
    .new-post__title-and-category
      .new-post__title-and-category__title.input-field.col.s12
        = f.text_field :title,{value: @post.title}
        = f.label :title
      .new-post__title-and-category__category.input-field.col.s12
        = f.select :category,{},{value: @post.category} do
          %option{value: ""} 
          %option{value: "Tech"} Tech
          %option{value: "Audio"} Audio
          %option{value: "Fishing"} Fishing
          %option{value: "Others"} Others
        = f.label :category
      = f.file_field :thumb,{value: @post.thumb}
      %textarea.uploadable{placeholder: "ここに画像をドラッグ&ドロップしてリンクを生成！"}
      = fields_for(@tag) do |form|
        .new-post__title-and-category__tag.input-field.col.s12
          = form.text_field :name,{placeholder: "コンマ区切りでタグを入力！"}
          = form.label "タグ"
    .new-post__form-and-preview
      .new-post__left
        = f.label :body
        = f.text_area :body,{class: "markdown-input",value: @post.body}
      .new-post__right
        .new-post__right__title Preview
        .new-post__right__preview
          = render partial: "markdown",locals: {post: @post}
    .new-post__bottom-option-and-submit
      .new-post__bottom-option-and-submit__option
        = f.select :posted,{},{} do
          %option{value: "0"} 下書き
          %option{value: "1"} 投稿
        = f.label :post
      = f.submit "送信",class: "btn bottom_btn"